.dark {
  --bg-color: theme(colors.gray.900);
  --text: theme(colors.gray.100);
  --text-contrast: theme(colors.gray.900);
  --hover: #0C151D;

  --primary-light-3: #172A3A;
  --primary-light-2: #666666;
  --primary-light-1: #525252;
  --primary: #172A3A;
  --primary-dark-1: #292929;

  --accent-light-1: #294A66;
  --accent: #172A3A;

  --error: #FA5845;
  --error-fill: #FFE8E6;
}
