.light {
  --bg-color: theme(colors.white);
  --text: theme(colors.gray.900);
  --text-contrast: theme(colors.white);
  --hover: theme(colors.gray.50);

  --primary-light-3: #ECF0FE;
  --primary-light-2: #D8E1FD;
  --primary-light-1: #B1C3FB;
  --primary: #8AA4F9;
  --primary-dark-1: #6386F8;

  --accent-light-1: #294A66;
  --accent: #172A3A;

  --error: #FA5845;
  --error-fill: #FFE8E6;
}
